<div id="action_trigger_dialog" class="modal hide">
  <div class="modal-header">
    <!--<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a> Out for now-->
    <h3><p class="action_trigger_title"></p></h3> <!-- trigger title variable -->
  </div>
  <div data-bind="template: { name: actionTriggerTemplate() }"></div>
</div>
<!-- Trigger Action Templates -->

<!-- Door -->
<script type="text/html" id="door_open">
  <div class="modal-body">
      <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
      <strong>The Xeed door is open, for safety reason we have paused the print!</strong> </br>
      To resume the print please close the door.
      To disable this feature go to Settings -> ActionTrigger and untick "Door detection".
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('I understand, let me access the controls') }}</a>
  </div>
</script>

<!-- Filament -->
<script type="text/html" id="filament">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Filament stop has been detected! Check if there is enough filament on the spool and that the Xeed can extrude freely.
    Use the Control tab to load a new roll filament if needed. Resume print through the status panel.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('Proceed to controls') }}</a>
  </div>
</script>
