<h4>{{ _('Action Trigger Plugin') }}</h4>

<div class="control-group">
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" data-bind="checked: actiontrigger.action_door"> {{ _('Action Door') }}
    </label>
  </div>
</div>
